{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container flex-column pt-3">
            <!-- ajouter carte-->

            <!-- time section -->
    <div class="content-wrapper main-column m-5">
        <div class="text-area content m-3">
            <h5 class="text-center fw-bolder display-6,1 m-3">Opening Hours</h5>
            <br/> 
            <h6 class="text-center fw-bolder display-6,2 m-3">Dinner</h6>
        
                <p class="text-center fw-bold px-2 pb-3 m-3">Tuesday - Saturday
                    <br/>  
                    5:30pm to 11:30pm  
                </p>
                    

        <h6 class="text-center fw-bolder display-6,2 m-3">Saturday Lunch Sitting</h6>     

            <p class="text-center fw-bold px-2 pb-3 m-3">1:30pm - 4pm</p>
        
        <h6 class="text-center fw-bolder display-6,2 m-3">Sunday and Monday</h6> 

                <p class="text-center fw-bold px-2 pb-3 m-3">Closed</p>
                    
                <p class="text-center px-2 pb-3 m-3">Set Menu Dinner Service</p>
            </div>
        </div>
    </div>
</div>

{%endblock%}