{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container flex-column pt-3">
    
    <div class="content-wrapper main-column">
        <div class="text-area content">

            <!-- welcome section -->
           
            <h1 class="text-center fw-bolder display-1 m-5">Welcome to Mae.</h1>
           
            <div class="text-justifier fw-bold px-2 pb-3">
                <p> Mae was the name of my late grandmother. She was a wonderful cook, and a huge influence on my life. When I thought about opening my own restaurant, she was at the forefront of my list of inspirations, and I knew very quickly I wanted to name the space after her.
                <br/> 
                <br/>  
                The French Paradox was a perfect venue, because the influence on family is huge here too, the building has been passed down generations, and I am honoured that the space has been shared on to me. An added bonus to this, is mae has access to some of the most incredible wines, direct from vineyards across France with whom the team at The French Paradox has had special relationships with for decades.
                <br/> 
                <br/>  
                The menu has been designed with all the above in mind. We want to bring modern, seasonal cooking with superb wine pairings to match. We have an incredibly strong team of front of house, chefs, sommeliers, and suppliers behind us. As well as this, we have been working with so many hugely talented trades people, designers and creators from across Ireland; from ceramicists, embroiders, glass blowers, to some of the most skilled and inspiring knife makers in the country.
                <br/> 
                <br/>  
                I wanted to highlight not only the food, wine and talent in the restaurant industry, but also the backbones of it. What makes a restaurant feel special, what makes the guest feel special in that restaurant.
                <br/> 
                <br/>  
                Ireland has an abundance of remarkable producers all across the country, and I wanted to bring as many as I could into mae. I can't wait for you to experience the restaurant for yourselves, and am so looking forward to welcome you all over the coming weeks, months and years. 
                </p>
              
            </div>
        </div>
    </div>
</div>

{%endblock%}