{% extends 'base.html' %}
{% load static %}

{% block title %}menu{% endblock %}

{% block content %}

<div class="container flex-column pt-3">
    
    <div class="content-wrapper main-column">
        <div class="text-area content">
            <h5 class="text-center fw-bolder display-6,1 m-5">Sample Spring Menu And Wine Pairings 2024</h5>
            <!-- menu -->
            
            <h6 class="text-center fw-bolder display-6,2 m-3">Menu</h6>

            <div class="text-center fw-bold px-2 pb-3">
                <p>  €75 per person             
                    <br/> 
                    caramelised white onion tartlet, cashel blue cheese, chives
                    <br/> 
                    connemara air dried ham, mimolette
                    <br/>
                    castletownbere crab potato cake 
                    <br/> 
                    durrus agnolotti, black garlic and pepper sauce, pickled mustard seed dressing 
                    <br/> 
                    sourdough, extra virgin olive oil, aged balsamic vinegar
                    <br/> 
                    goatsbridge trout, sweet roasted leek, crispy chicken skin, chicken butter sauce 
                    <br/>
                    or
                    <br/>
                    slow braised rib of beef, beluga lentils, wild garlic, brown butter roasted swede
                    <br/>
                    apple tart tatin, calvados, crème fraiche
                    <br/>     
                    or
                    <br/>
                    72% chocolate mousse, rhubarb, almond
                    <br/>
                    irish cheese, quince, five seed cracker* supplement €6</p>
            </div> 

             <!-- wine section -->

            <h6 class="text-center fw-bolder display-7 m-3">Wine Pairings</h6>

            <div class="text-center fw-bold px-2 pb-3">
               
                <p>€45 per person
                    <br/>  
                    maison darragon, vouvray les tuffes 2022 loire
                    <br/> 
                    château haut barrail, médoc 2016 bordeaux
                    <br/> 
                    fish course – mas de figuier, seigneur de leuzes 2022 languedoc
                    <br/>   
                    or
                    <br/> 
                    meat course – domaine saint pierre, vacqueyras 2021 rhone
                    <br/> 
                    domaine tour blanche, gewurztraminer 2020 alsace
                    (or maison darragon, crémant de loire brut)
                </p>
                <p>€60 per person
                    <br/> 
                    domaine fouassier, pouilly-fumé 2020 loire valley
                    <br/> 
                    domaine gour de chaulé, gigondas 2021 rhone
                    <br/> 
                    fish course – domaine pacaud, saint véran prés bâtards 2020 burgundy
                    <br/> 
                    or
                    <br/> 
                    meat course – château la renaissance, pomerol 2016 bordeaux
                    <br/> 
                    carmes by château rieussec, sauternes 2012 bordeaux
                    (or maison darragon, crémant de loire brut)
                </p>

            </div>

        </div>
    </div>
</div>

{%endblock%}