{% extends 'base.html' %}
{% load static %}

{% block title %}Bookings List{% endblock %}

{% block content %}
<div class="row m-5">
    <div class="col-12 text-left m-2">

    <!-- Button to add/make a booking -->
    <li class="btn btn-success text-left">
        <a class="text-light" aria-current="page" href="{% url 'add_booking' %}">Add Bookings</a>
    </li>
    </div>  

    <div class= "col-12 text-center">
        <h3 class="m-3">Reservation List</h3>

        {% if user_bookings %}
            {% for user_booking in user_bookings %}
                <p>
                    Email : {{ user_booking.email }} <br>
                    Customer Name : {{ user_booking.customer_name }} <br>
                    Phone : {{ user_booking.phone }} <br>
                    Number of guest : {{ user_booking.party_size }} <br>
                    Date of reservation : {{ user_booking.booking_date }} <br>
                    Time : {{ user_booking.booking_time }} <br>
                    Notes : {{ user_booking.notes }} <br>
                    Allergies : {{ user_booking.allergies }} <br>
                </p>

                  <!-- button to edit booking   -->

                <li class="btn btn-primary m-2">
                    <a class="text-light" aria-current="page" href="{% url 'edit_booking' pk=user_booking.id %}">Edit</a>
                </li>
                <li class="btn btn-danger m-2">
                    <a class="text-light" aria-current="page" href="{% url 'cancel_booking' pk=user_booking.id %}">Cancel</a>
                </li>

            {% endfor %}
        {% else %}
            <p>You don't have any bookings!</p>
            <p>To make a booking, click on "Add Booking"</p>
        {% endif %}
    </div>
</div>
{% endblock %}
